        .jumbotron{
            margin:0 auto;
            border-radius: 5px;
            padding:35px;
            background-color:white;
            
            /*Added items*/
            max-width: 1280px;
            
            /*Removed items from default*/
            /*border:3px solid #CECECE;
            margin-bottom:15px;
            */
        }

        .panel{
            background-color:white;
            border-radius: 10px;
            margin-bottom:15px;
        }

        .panel-material{
            background-color:white;
            border-radius: 2px;
            /*box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
        }

        .panel-default{
            background-color:#CECECE;
            border:1px solid #CECECE;
            color:#747474;
        }

        .panel-primary{
            background-color:#47A8F5;
            border:1px solid #47A8F5;
            color:white;
        }

        .panel-success{
            background-color:#6ABD6E;
            border:1px solid #6ABD6E;
            color:white;
        }

        .panel-header{
            border-radius: 10px 10px 0px 0px;
            padding:15px;
        }

        .panel-content{
            background-color: white;
            border-radius: 0px 0px 10px 10px;
            padding:15px;
        }
        
        .slideshow-container{
            max-width:1366px;
            margin:auto;
            
            position:relative;
            padding-top:56.25%;
        }


        .slides{
            border-radius:5px;
            display:none;
            background-color: white;
            padding:30px;
            animation-name: fadeIn;
            animation-duration: 0.6s;
            
            position: absolute;
            top:0;
            bottom: 0;
            left:0;
            right:0;
            
            }

        .dotholder{
            text-align: center;
            padding:15px;
        }

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;/*
            transition: background-color .6s ease;*/
        }

        .active,
        .dot:hover {
            background-color: #717171
        }

        /*
        .next {
            right: -50px;
            border-radius: 3px 3px 3px 3px
        }

        .prev {
            left: -50px;
            border-radius: 3px 3px 3px 3px
        }*/

        .footer{
            width: 100%;
            min-width:200px;
            max-width: auto;
            height:200px;
            float:left;
            background-color: #242729;
        }

        .footer-content{
            font-size: 13px;
            padding:10px;
            margin:auto;
            text-align: center;
            color:#CECFCF;
        }

/*IF WIDTH IS DESKTOP VIEW*/

@media screen and (min-width:800px)
 {
     
     .slideshow-container{
         max-width:1080px;
         margin:auto;
         padding-top:10%;
         height:250px;
     
     }
     
}